@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "spicyfarm";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(78% 0.115 274.713);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.08 209);
  --color-base-200: oklch(15% 0.08 209);
  --color-base-300: oklch(10% 0.08 209);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-primary: oklch(92% 0.2653 125);
  --color-primary-content: oklch(50% 0.2653 125);
  --color-secondary: oklch(83.27% 0.0764 298.3);
  --color-secondary-content: oklch(43.27% 0.0764 298.3);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(30% 0.08 209);
  --color-neutral-content: oklch(90% 0.076 70.697);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(44.8% 0.1962 84.62);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(27% 0.1985 24.22);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



body {
  overflow-x: hidden !important;
  font-family: "Quicksand", sans-serif;
  color: var(--color-base-content);
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Raleway", sans-serif;
}

header h1 .aniName {
  font-family: "Cormorant Garamond", serif;
}
.name {
  @apply pl-4 block capitalize font-bold bg-gradient-to-r from-white via-white via-[30%] to-[#9f9f9f] bg-clip-text text-transparent;
}

.hero--wrapper {
  @apply grid grid-cols-2 mx-30 gap-10;
}

.textbox {
  @apply bg-radial flex flex-col gap-5 from-[#9f9f9f60] to-[transparent] via-[transparent];
}

.textbox p {
  width: 80%;
  text-align: left;
}

.span-1 {
  @apply row-span-2;
}
.span-3 {
  @apply row-span-2;
}



.screenshot-figure {
  position: relative;
  width: 100%;
  height: 100%;
  @apply rounded-xl;
  overflow: hidden;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}


.shotlist{
  border-width: 1.6px;
  border-color: #ac99a509;
  @apply rounded-2xl;
}

.stack-container {
  text-align: center;
  padding: 2rem;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.stack-icon {
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.stack-icon:hover {
  transform: scale(1.2);
}


.profile-card{
  @apply flex-2/5 border-2 border-[#ac99a509] rounded-2xl  p-10;
}
.stack{
  @apply flex-3/5 p-10
}