@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden !important;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Raleway", sans-serif;
}

header h1 .aniName {
  font-family: "Cormorant Garamond", serif;
}
.name {
  @apply pl-4 block capitalize font-bold bg-gradient-to-r from-white via-white via-[30%] to-[#9f9f9f] bg-clip-text text-transparent;
}

.hero--wrapper {
  @apply grid grid-cols-2 mx-30 gap-10;
}

.textbox {
  @apply bg-radial flex flex-col gap-5 from-[#9f9f9f60] to-[transparent] via-[transparent];
}

.textbox p {
  width: 80%;
  text-align: left;
}

.span-1 {
  @apply row-span-2;
}
.span-3 {
  @apply row-span-2;
}



.screenshot-figure {
  position: relative;
  width: 100%;
  height: 100%;
  @apply rounded-xl;
  overflow: hidden;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}


.shotlist{
  border-width: 1.6px;
  border-color: #ac99a509;
  @apply rounded-2xl;
}