@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden !important;
}
.name {
  @apply pl-4 block capitalize font-bold bg-gradient-to-r from-white via-white via-[30%] to-[#9f9f9f] bg-clip-text text-transparent;
}

.hero--wrapper {
  @apply grid grid-cols-2 mx-30 gap-10;
}

.textbox {
  @apply bg-radial flex flex-col gap-5 from-[#9f9f9f60] to-[transparent] via-[transparent];
}

.textbox p {
  width: 80%;
  text-align: left;
}
